<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neuedu.his.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="cn.neuedu.his.model.Department">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="kind_id" jdbcType="INTEGER" property="kindId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>

  <resultMap id="AllDepartmentInformation" type="cn.neuedu.his.model.Department">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <association property="departmentKind" javaType="cn.neuedu.his.model.DepartmentKind">
        <id column="departmentKindId" jdbcType="INTEGER" property="id" />
        <result column="kind_name" jdbcType="VARCHAR" property="kindName" />
      <association property="constantVariable" javaType="cn.neuedu.his.model.ConstantVariable">
        <id column="constantId" jdbcType="INTEGER" property="id" />
        <result column="constantName" jdbcType="VARCHAR" property="name" />
      </association>
    </association>
  </resultMap>


  <select id="getAllDepartmentInformation" resultMap="AllDepartmentInformation">
    select *,dk.id as departmentKindId ,constant_variable.id as constantId,constant_variable.name as constantName
    from department join department_kind dk on department.kind_id = dk.id join constant_variable on dk.classification_id = constant_variable.id
  </select>

  <select id="getAllDepartmentInformationByClassificationId" resultMap="AllDepartmentInformation">
    select *,dk.id as departmentKindId ,constant_variable.id as constantId,constant_variable.name as constantName
    from department join department_kind dk on department.kind_id = dk.id join constant_variable on dk.classification_id = constant_variable.id
    where classification_id = #{classificationId}
  </select>

  <select id="getDepartmentByName" resultMap="BaseResultMap">
    select *
    from department
    where name=#{name}
  </select>




  <select id="getDepartmentByClassification" resultType="cn.neuedu.his.model.Department">
    select * from department where kind_id in (select dk.id from department_kind dk where classification_id = #{classification});
  </select>

</mapper>