<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neuedu.his.mapper.DiagnoseMapper">
  <resultMap id="BaseResultMap" type="cn.neuedu.his.model.Diagnose">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="medical_record_id" jdbcType="INTEGER" property="medicalRecordId" />
    <result column="disease_id" jdbcType="INTEGER" property="diseaseId" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="is_major" jdbcType="BIT" property="isMajor" />
  </resultMap>
</mapper>