<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neuedu.his.mapper.InspectionApplicationMapper">
  <resultMap id="BaseResultMap" type="cn.neuedu.his.model.InspectionApplication">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="non_drug_id" jdbcType="INTEGER" property="nonDrugId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="is_canceled" jdbcType="BIT" property="isCanceled" />
    <result column="is_emerged" jdbcType="BIT" property="isEmerged"/>
    <result column="is_done" jdbcType="BIT" property="isDone"/>
    <result column="is_template" jdbcType="BIT" property="isTemplate"/>
    <result column="is_check" jdbcType="BIT" property="isCheck"/>
    <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId"/>
  </resultMap>

  <resultMap id="getPatientInformationByInspection" type="cn.neuedu.his.model.InspectionApplication">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="non_drug_id" jdbcType="INTEGER" property="nonDrugId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="is_canceled" jdbcType="BIT" property="isCanceled" />
    <result column="is_emerged" jdbcType="BIT" property="isEmerged"/>
    <result column="is_done" jdbcType="BIT" property="isDone"/>
    <result column="is_template" jdbcType="BIT" property="isTemplate"/>
    <result column="is_check" jdbcType="BIT" property="isCheck"/>
    <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId"/>
  </resultMap>

  <select id="hasMedicalRecordInspectionNotDone" resultType="Integer">
    select count(*) from  his.inspection_application where item_id=#{itemId} and  is_template=false and  is_canceled=false  and  is_done=false ;
  </select>
  <delete id="deleteByTemplateId">
    delete  from  inspection_application where  item_id=#{templateId} and  is_template=true
  </delete>


  <resultMap id="withItem" type="cn.neuedu.his.model.InspectionApplication">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="non_drug_id" jdbcType="INTEGER" property="nonDrugId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="is_canceled" jdbcType="BIT" property="isCanceled" />
    <result column="is_emerged" jdbcType="BIT" property="isEmerged"/>
    <result column="is_done" jdbcType="BIT" property="isDone"/>
    <result column="is_template" jdbcType="BIT" property="isTemplate"/>
    <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId"/>
    <result column="is_check" jdbcType="BIT" property="isCheck"/>
    <association property="nonDrug" javaType="cn.neuedu.his.model.NonDrug" column="non_drug_id" select="getNonDrug"/>
    <association property="payment" javaType="cn.neuedu.his.model.Payment" column="{id=id,type=fee_type_id}" select="getP"/>
  </resultMap>

  <select id="getByMedicalRecordId" resultMap="withItem">
    select * from  inspection_application where item_id=#{id} and  is_template=false ;
  </select>

  <select id="getP" resultMap="cn.neuedu.his.mapper.PaymentMapper.BaseResultMap">
    select * from  payment where  item_id=#{id} and  payment_type_id=#{type}
  </select>

  <select id="getNonDrug" resultMap="cn.neuedu.his.mapper.NonDrugMapper.BaseResultMap">
    select * from  non_drug where  id=#{non_drug_id}
  </select>

  <!--通过病历和姓名的模糊查询获得患者信息-->
  <resultMap id="patientInformationAndInspectionAppilication" type="cn.neuedu.his.model.InspectionApplication">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="non_drug_id" jdbcType="INTEGER" property="nonDrugId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="is_canceled" jdbcType="BIT" property="isCanceled" />
    <result column="is_emerged" jdbcType="BIT" property="isEmerged"/>
    <result column="is_done" jdbcType="BIT" property="isDone"/>
    <result column="is_template" jdbcType="BIT" property="isTemplate"/>
    <result column="is_check" jdbcType="BIT" property="isCheck"/>
    <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId"/>
  </resultMap>



</mapper>