<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neuedu.his.mapper.InspectionApplicationMapper">
  <resultMap id="BaseResultMap" type="cn.neuedu.his.model.InspectionApplication">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="non_drug_id" jdbcType="INTEGER" property="nonDrugId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="is_canceled" jdbcType="BIT" property="isCanceled" />
    <result column="is_emerged" jdbcType="BIT" property="isEmerged"/>
    <result column="is_done" jdbcType="BIT" property="isDone"/>
    <result column="is_template" jdbcType="BIT" property="isTemplate"/>
    <result column="is_check" jdbcType="BIT" property="isCheck"/>
    <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId"/>
  </resultMap>

  <resultMap id="getPatientInformationAndInspection" type="cn.neuedu.his.model.Payment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="settlement_type_id" jdbcType="INTEGER" property="settlementTypeId" />
    <result column="payment_type_id" jdbcType="INTEGER" property="paymentTypeId" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="invoice_id" jdbcType="INTEGER" property="invoiceId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="project_operator_id" jdbcType="INTEGER" property="projectOperatorId"/>
    <result column="is_frozen" jdbcType="BIT" property="isFrozen" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId"/>
    <association property="application" javaType="cn.neuedu.his.model.InspectionApplication">
      <id column="application_id" jdbcType="INTEGER" property="id" />
      <result column="item_id" jdbcType="INTEGER" property="itemId" />
      <result column="non_drug_id" jdbcType="INTEGER" property="nonDrugId" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="quantity" jdbcType="INTEGER" property="quantity" />
      <result column="is_canceled" jdbcType="BIT" property="isCanceled" />
      <result column="is_emerged" jdbcType="BIT" property="isEmerged"/>
      <result column="is_done" jdbcType="BIT" property="isDone"/>
      <result column="is_template" jdbcType="BIT" property="isTemplate"/>
      <result column="is_check" jdbcType="BIT" property="isCheck"/>
      <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId"/>
      <association property="nonDrug" javaType="cn.neuedu.his.model.NonDrug">
      <id column="nonDrug_id" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="price" jdbcType="DECIMAL" property="price" />
      <result column="standard" jdbcType="VARCHAR" property="standard" />
      <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId" />
      <result column="code" jdbcType="VARCHAR" property="code"/>
      <result column="executive_department" jdbcType="INTEGER" property="executiveDepartment"/>
      <association property="department" javaType="cn.neuedu.his.model.Department">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="deptname" jdbcType="VARCHAR" property="name" />
        <result column="kind_id" jdbcType="INTEGER" property="kindId" />
        <result column="code" jdbcType="VARCHAR" property="code" />
      </association>
    </association>

  </association>
    <association property="patient" javaType="cn.neuedu.his.model.Patient">
      <id column="id" jdbcType="INTEGER" property="id"/>
      <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
      <result column="password" jdbcType="VARCHAR" property="password"/>
      <result column="sex" jdbcType="BIT" property="sex"/>
      <result column="real_name" jdbcType="VARCHAR" property="realName"/>
      <result column="username" jdbcType="VARCHAR" property="username"/>
      <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
      <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
      <result column="last_password_modify_time" jdbcType="TIMESTAMP" property="lastPasswordModifyTime"/>
    </association>
    <association property="paymentType" javaType="cn.neuedu.his.model.PaymentType">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="code" jdbcType="VARCHAR" property="code" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="type" jdbcType="INTEGER" property="type" />
    </association>
    <association property="user" javaType="cn.neuedu.his.model.User">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="username" jdbcType="VARCHAR" property="username" />
      <result column="real_name" jdbcType="VARCHAR" property="realName" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
      <result column="last_password_modify_time" jdbcType="TIMESTAMP" property="lastPasswordModifyTime" />
      <result column="type_id" jdbcType="INTEGER" property="typeId" />
      <result column="department_id" jdbcType="INTEGER" property="departmentId" />
      <result column="identify_id" jdbcType="VARCHAR" property="identifyId" />
      <result column="is_delete" jdbcType="BIT" property="isDelete"/>
      <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
    </association>
  </resultMap>

  <select id="hasMedicalRecordInspectionNotDone" resultType="Integer">
    select count(*) from  his.inspection_application where item_id=#{itemId} and  is_template=false and  is_canceled=false  and  is_done=false ;
  </select>
  <delete id="deleteByTemplateId">
    delete  from  inspection_application where  item_id=#{templateId} and  is_template=true
  </delete>


  <resultMap id="withItem" type="cn.neuedu.his.model.InspectionApplication">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="non_drug_id" jdbcType="INTEGER" property="nonDrugId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="is_canceled" jdbcType="BIT" property="isCanceled" />
    <result column="is_emerged" jdbcType="BIT" property="isEmerged"/>
    <result column="is_done" jdbcType="BIT" property="isDone"/>
    <result column="is_template" jdbcType="BIT" property="isTemplate"/>
    <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId"/>
    <result column="is_check" jdbcType="BIT" property="isCheck"/>
    <association property="nonDrug" javaType="cn.neuedu.his.model.NonDrug" column="non_drug_id" select="getNonDrug"/>
    <association property="payment" javaType="cn.neuedu.his.model.Payment" column="{id=id,type=fee_type_id}" select="getP"/>
  </resultMap>

  <select id="getByMedicalRecordId" resultMap="withItem">
    select * from  inspection_application where item_id=#{id} and  is_template=false ;
  </select>

  <select id="getP" resultMap="cn.neuedu.his.mapper.PaymentMapper.BaseResultMap">
    select * from  payment where  item_id=#{id} and  payment_type_id=#{type}
  </select>

  <select id="getNonDrug" resultMap="cn.neuedu.his.mapper.NonDrugMapper.BaseResultMap">
    select * from  non_drug where  id=#{non_drug_id}
  </select>

  <!--通过病历和姓名的模糊查询获得患者信息-->
  <resultMap id="patientInformationAndInspectionAppilication" type="cn.neuedu.his.model.InspectionApplication">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="non_drug_id" jdbcType="INTEGER" property="nonDrugId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="is_canceled" jdbcType="BIT" property="isCanceled" />
    <result column="is_emerged" jdbcType="BIT" property="isEmerged"/>
    <result column="is_done" jdbcType="BIT" property="isDone"/>
    <result column="is_template" jdbcType="BIT" property="isTemplate"/>
    <result column="is_check" jdbcType="BIT" property="isCheck"/>
    <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId"/>
  </resultMap>

  <select id="selectPatientInformationByNameOrId" resultMap="getPatientInformationAndInspection">
    SELECT *, department.name as deptname,non_drug.id as nonDrug_id,inspection_application.id as application_id
    FROM payment JOIN inspection_application ON payment.item_id = inspection_application.id
                 JOIN patient on patient.id = payment.patient_id
                 JOIN user ON payment.doctor_id = user.id
                 Join payment_type pt on payment.payment_type_id = pt.id
                 Join non_drug on inspection_application.non_drug_id = non_drug.id
                 Join department on non_drug.executive_department = department.id
    WHERE payment.payment_type_id in(SELECT id FROM payment_type WHERE payment_type.type = 1 AND is_delete = 0)#结算类型属于检查或检验
      <if test="name != null">
        and  patient.real_name like concat('%',#{name},'%')  #根据真实姓名或者病历来模糊查找
      </if>
      <if test="id != null">
        and  patient.id like concat('%',#{id},'%')
      </if>
      <if test="auth == false">
          AND non_drug.executive_department = #{department_id} #医生部门需相同
      </if>
  </select>
  

  <resultMap id="inspectionAndNonDrug" type="cn.neuedu.his.model.InspectionApplication">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="non_drug_id" jdbcType="INTEGER" property="nonDrugId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="is_canceled" jdbcType="BIT" property="isCanceled" />
    <result column="is_emerged" jdbcType="BIT" property="isEmerged"/>
    <result column="is_done" jdbcType="BIT" property="isDone"/>
    <result column="is_template" jdbcType="BIT" property="isTemplate"/>
    <result column="is_check" jdbcType="BIT" property="isCheck"/>
    <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId"/>
    <association property="nonDrug" resultMap="cn.neuedu.his.mapper.NonDrugMapper.BaseResultMap"/>
  </resultMap>

  <select id="getInspectionAndNonDrug" resultMap="inspectionAndNonDrug">
    select i.*, nd.* from inspection_application i join non_drug nd on i.non_drug_id = nd.id
    where i.id = #{id}
  </select>

  <resultMap id="inspectionByMedical" type="cn.neuedu.his.model.InspectionApplication">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="non_drug_id" jdbcType="INTEGER" property="nonDrugId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="is_canceled" jdbcType="BIT" property="isCanceled" />
    <result column="is_emerged" jdbcType="BIT" property="isEmerged"/>
    <result column="is_done" jdbcType="BIT" property="isDone"/>
    <result column="is_template" jdbcType="BIT" property="isTemplate"/>
    <result column="is_check" jdbcType="BIT" property="isCheck"/>
    <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId"/>
    <association property="department" resultMap="cn.neuedu.his.mapper.DepartmentMapper.BaseResultMap"/>
    <association property="nonDrug" javaType="cn.neuedu.his.model.NonDrug">
      <id column="nonDrug_id" jdbcType="INTEGER" property="id" />
      <result column="nonDrug_name" jdbcType="VARCHAR" property="name" />
      <result column="price" jdbcType="DECIMAL" property="price" />
      <result column="standard" jdbcType="VARCHAR" property="standard" />
      <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId" />
      <result column="code" jdbcType="VARCHAR" property="code"/>
      <result column="executive_department" jdbcType="INTEGER" property="executiveDepartment"/>
      <result column="is_delete" jdbcType="BIT" property="isDelete"/>
    </association>
  </resultMap>

  <select id="getAllByMedical" resultMap="inspectionByMedical">
    select i.*, d.*, nd.*,nd.name as nonDrug_name, nd.id as nonDrug_id
    from inspection_application i join non_drug nd on i.non_drug_id = nd.id
        join department d on nd.executive_department = d.id
    where i.item_id = #{medicalId} and is_template = false
  </select>

  <!--获得部门ID-->
  <resultMap id="getDepartmentIdEasily" type="cn.neuedu.his.model.InspectionApplication">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="item_id" jdbcType="INTEGER" property="itemId" />
      <result column="non_drug_id" jdbcType="INTEGER" property="nonDrugId" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="quantity" jdbcType="INTEGER" property="quantity" />
      <result column="is_canceled" jdbcType="BIT" property="isCanceled" />
      <result column="is_emerged" jdbcType="BIT" property="isEmerged"/>
      <result column="is_done" jdbcType="BIT" property="isDone"/>
      <result column="is_template" jdbcType="BIT" property="isTemplate"/>
      <result column="is_check" jdbcType="BIT" property="isCheck"/>
      <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId"/>
    <association property="nonDrug" javaType="cn.neuedu.his.model.NonDrug">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="standard" jdbcType="VARCHAR" property="standard" />
        <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId" />
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="nd_department" jdbcType="INTEGER" property="executiveDepartment"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
    </association>
  </resultMap>

  <select id="getDepartmentId" resultMap="getDepartmentIdEasily">
    select * ,nd.executive_department as nd_department
    from inspection_application join non_drug nd on inspection_application.non_drug_id = nd.id
    where inspection_application.id = #{id}
  </select>

</mapper>