<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neuedu.his.mapper.InspectionTemplateMapper">
  <resultMap id="BaseResultMap" type="cn.neuedu.his.model.InspectionTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="created_by_id" jdbcType="INTEGER" property="createdById" />
  </resultMap>


  <resultMap id="withRelationship" type="cn.neuedu.his.model.InspectionTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="created_by_id" jdbcType="INTEGER" property="createdById" />
    <collection property="prescriptions" ofType="cn.neuedu.his.model.Prescription" select="getPrescription" column="id">
    </collection>
    <collection property="applications" ofType="cn.neuedu.his.model.InspectionApplication" select="getInspection" column="id">
    </collection>
  </resultMap>

  <select id="getHospitalCheckTemps" resultMap="withRelationship">
        select * from inspection_template i where i.created_by_id=#{doctorID} and  level=#{level }
  </select>

<!-- Relationship collection-->
  <select id="getPrescription" resultMap="cn.neuedu.his.mapper.PrescriptionMapper.BaseResultMap" >
        select * from prescription where item_id=#{id} and  is_template=true ;
  </select>
<!-- Relationship collection-->
  <select id="getInspection" resultMap="cn.neuedu.his.mapper.InspectionApplicationMapper.withItem" >
        select * from inspection_application  where item_id=#{id} and  is_template=true ;
  </select>

  <select id="getDeptCheckTemps" resultMap="withRelationship">
    select *  from inspection_template where  level =#{level} and  inspection_template.created_by_id in(
        select u.id from user as u  where u.department_id in (
            select u2.department_id from user u2 where  u2.id=#{doctorID}
            )
        )
  </select>

  <select id="getPersonalCheckTemps" resultMap="withRelationship">
    select *
    from inspection_template where  level =#{level} and  inspection_template.created_by_id=#{doctorID}
  </select>

  <delete id="deleteRelationship" parameterType="Integer">
DELETE p.*, pp.*
FROM prescription p
         INNER JOIN inspection_application pp
                    ON p.item_id = pp.item_id

WHERE   p.item_id=#{id}  and p.is_template=TRUE and  pp.is_template=true
  </delete>

  <select id="getInspectionTemByName" resultMap="withRelationship">
    select * from inspection_template where name like "%"#{name}"%"
  </select>
</mapper>