<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neuedu.his.mapper.NonDrugMapper">
  <resultMap id="BaseResultMap" type="cn.neuedu.his.model.NonDrug">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="fee_type_id" jdbcType="INTEGER" property="feeTypeId" />
    <result column="code" jdbcType="VARCHAR" property="code"/>
    <result column="executive_department" jdbcType="INTEGER" property="executiveDepartment"/>
    <result column="is_delete" jdbcType="BIT" property="isDelete"/>
  </resultMap>

  <select id="findByName" resultMap="BaseResultMap">
    select * from non_drug where  name like CONCAT('%',#{name},'%') and  is_delete=false ;
  </select>

  <select id="getAll" resultMap="BaseResultMap">
    select * from non_drug where  is_delete=false ;
  </select>

  <select id="selectNonDrugByName" resultMap="BaseResultMap">
    select *
    from non_drug
    where name = #{name} and is_delete=false ;
  </select>

  <select id="selectNonDrugByCode" resultMap="BaseResultMap">
    select *
    from non_drug
    where code = #{code} and is_delete=false ;
  </select>
</mapper>