<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neuedu.his.mapper.PatientMapper">
  <resultMap id="BaseResultMap" type="cn.neuedu.his.model.Patient">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_password_modify_time" jdbcType="TIMESTAMP" property="lastPasswordModifyTime" />
  </resultMap>

<!--  患者及其所有未付款缴费单-->
  <resultMap id="patientAndNotPaidPayment" type="cn.neuedu.his.model.Patient">
    <collection property="paymentList" ofType="cn.neuedu.his.model.Payment" select="selectNotFrozenPaymentByPatientId" column="{patientId = id, noPaymentTotalTypeId = noPaymentTotalTypeId, paymentState = paymentState}"/>
  </resultMap>

  <select id="searchPatientAndFrozenPayment" resultMap="patientAndNotPaidPayment">
    select * , #{noPaymentTotalTypeId} as NoPaymentTotalTypeId, #{state} as paymentState from patient where id = #{patientId}
  </select>

  <select id="selectNotFrozenPaymentByPatientId" resultMap="cn.neuedu.his.mapper.PaymentMapper.BaseResultMap">
    select * from payment
    where patient_id = #{patientId} and (select type from payment_type where payment_type_id = payment_type.id) != #{noPaymentTotalTypeId} and is_frozen = false and state = #{paymentState}
    order by create_time desc
  </select>

<!--  患者信息及所有还未消费的缴费单-->
  <resultMap id="patientAndNotConsumePayment" type="cn.neuedu.his.model.Patient">
    <collection property="paymentList" ofType="cn.neuedu.his.model.Payment" select="selectNotConsumePaymentByPatientId" column="{patientId = id, noPaymentTotalTypeId = noPaymentTotalTypeId, state1 = state1, state2 = state3, state3 = state3}"/>
  </resultMap>

  <select id="searchPatientAndNotConsumePayment" resultMap="patientAndNotConsumePayment">
    select * , #{noPaymentTotalTypeId} as NoPaymentTotalTypeId, #{state1} as state1, #{state2} as state2, #{state3} as state3 from patient where id = #{patientId}
  </select>

  <select id="selectNotConsumePaymentByPatientId" resultMap="cn.neuedu.his.mapper.PaymentMapper.BaseResultMap">
    select * from payment
    where patient_id = #{patientId} and (select type from payment_type where payment_type_id = payment_type.id) != #{noPaymentTotalTypeId} and (state = #{state1} or state = #{state2} or state = #{state3})
    order by create_time desc
  </select>




<!--  患者信息及所有未拿取的药单信息-->
  <resultMap id="patientAndNotTakeDrug" type="cn.neuedu.his.model.Patient">
    <collection property="paymentList" ofType="cn.neuedu.his.model.Payment" select="selectNotTakeDrugPaymentByPatientId" column="{patientId = id, paymentTotalTypeId = paymentTotalTypeId, state = state}">
      <association property="prescription" javaType="cn.neuedu.his.model.Prescription" select="selectPrescriptionByPayment" column="item_id">
        <association property="drug" javaType="cn.neuedu.his.model.Drug" select="selectDrugByPrescription" column="drug_id"/>
      </association>
    </collection>
  </resultMap>

  <select id="searchPatientAndNotTakeDrug" resultMap="patientAndNotTakeDrug">
    select * , #{noPaymentTotalTypeId} as NoPaymentTotalTypeId, #{state} as state from patient where id = #{patientId}
  </select>

  <select id="selectNotTakeDrugPaymentByPatientId" resultMap="cn.neuedu.his.mapper.PaymentMapper.BaseResultMap">
    select * from payment
    where patient_id = #{patientId} and (select type from payment_type where payment_type_id = payment_type.id) = #{paymentTotalTypeId} and state = #{state}
    order by create_time desc
  </select>

  <select id="selectPrescriptionByPayment" resultMap="cn.neuedu.his.mapper.PrescriptionMapper.BaseResultMap">
    select * from prescription where id = #{item_id}
  </select>

  <select id="selectDrugByPrescription" resultMap="cn.neuedu.his.mapper.DrugMapper.BaseResultMap">
    select * from drug where id = #{drug_id}
  </select>

<!--患者信息及某一时段内药物信息  -->
  <resultMap id="patientAndDrugDuringDate" type="cn.neuedu.his.model.Patient">
    <collection property="paymentList" ofType="cn.neuedu.his.model.Payment" select="selectDrugPaymentByPatientIdDuringDate" column="{patientId = id, paymentTotalTypeId = paymentTotalTypeId, startDate = startDate, endDate = endDate}">
      <association property="prescription" javaType="cn.neuedu.his.model.Prescription" select="selectPrescriptionByPayment" column="item_id">
        <association property="drug" javaType="cn.neuedu.his.model.Drug" select="selectDrugByPrescription" column="drug_id"/>
      </association>
    </collection>
  </resultMap>

  <select id="searchPatientAndDrugDuringDate" resultMap="patientAndDrugDuringDate">
    select * , #{noPaymentTotalTypeId} as NoPaymentTotalTypeId, #{startDate} as startDate, #{endDate} as endDate from patient where id = #{patientId}
  </select>

  <select id="selectDrugPaymentByPatientIdDuringDate" resultMap="cn.neuedu.his.mapper.PaymentMapper.BaseResultMap">
    select * from payment
    where patient_id = #{patientId} and (select type from payment_type where payment_type_id = payment_type.id) = #{paymentTotalTypeId} and datediff(create_time, startDate) &gt;= 0 and datediff(create_time, endDate) &lt;= 0
    order by create_time
  </select>

</mapper>