<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neuedu.his.mapper.PrescriptionMapper">
  <resultMap id="BaseResultMap" type="cn.neuedu.his.model.Prescription">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="usage_id" jdbcType="INTEGER" property="usageId" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="drug_id" jdbcType="INTEGER" property="drugId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="use_amount" jdbcType="VARCHAR" property="useAmount" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="need_skin_test" jdbcType="BIT" property="needSkinTest" />
    <result column="skin_test_result" jdbcType="BIT" property="skinTestResult" />
    <result column="is_template" jdbcType="BIT" property="isTemplate"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByTemplateId">
    delete  from prescription where  item_id=#{templateId} and  is_template=true ;
  </delete>

</mapper>