<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neuedu.his.mapper.RegistrationMapper">
  <resultMap id="BaseResultMap" type="cn.neuedu.his.model.Registration">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="need_book" jdbcType="BIT" property="needBook" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="schedule_id" jdbcType="INTEGER" property="scheduleId" />
    <result column="registrar_id" jdbcType="INTEGER" property="registrarId" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="serial_number" jdbcType="INTEGER" property="serialNumber" />
  </resultMap>

  <resultMap id="registrationWithPatient" type="cn.neuedu.his.model.Registration">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="serial_number" jdbcType="INTEGER" property="serialNumber" />
    <association property="patient" javaType="Patient">
      <id property="id" column="id"></id>
      <result property="realName" column="real_name"></result>
      <result property="identityId" column="identity_id"></result>
    </association>
  </resultMap>

  <select id="getAllWaitingRegistration" resultMap="registrationWithPatient">
    select  * from registration,patient where  registration.state=#{state} and registration.patient_id=patient.id and  registration.doctor_id=#{doctorID}
    and   to_days(registration.create_time)=TO_DAYS(#{time})
    order by registration.id ASC
  </select>

  <select id="getRegistrationByPatientName" resultMap="registrationWithPatient">
     select  * from registration,patient where  state=47 and patient.id=registration.patient_id and patient.real_name=#{name} and  registration.doctor_id=#{doctorID}
     order by registration.id ASC
  </select>

  <select id="getAllRegistrationWaitingByPatientId" resultType="cn.neuedu.his.model.Registration">
    select * from registration where patient_id = #{patientId} and (state = #{state1} or state = #{state2})
  </select>

</mapper>