<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neuedu.his.mapper.RegistrationMapper">
    <resultMap id="BaseResultMap" type="cn.neuedu.his.model.Registration">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="need_book" jdbcType="BIT" property="needBook"/>
        <result column="patient_id" jdbcType="INTEGER" property="patientId"/>
        <result column="doctor_id" jdbcType="INTEGER" property="doctorId"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="schedule_id" jdbcType="INTEGER" property="scheduleId"/>
        <result column="registrar_id" jdbcType="INTEGER" property="registrarId"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="sequence" jdbcType="INTEGER" property="sequence"/>
        <result column="serial_number" jdbcType="INTEGER" property="serialNumber"/>
    </resultMap>

    <resultMap id="registrationWithPatient" type="cn.neuedu.his.model.Registration">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="patient_id" jdbcType="INTEGER" property="patientId"/>
        <result column="doctor_id" jdbcType="INTEGER" property="doctorId"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="sequence" jdbcType="INTEGER" property="sequence"/>
        <result column="serial_number" jdbcType="INTEGER" property="serialNumber"/>
        <association property="patient" javaType="Patient">
            <id property="id" column="patientId"></id>
            <result property="realName" column="real_name"></result>
            <result property="identityId" column="identity_id"></result>
            <result column="sex" jdbcType="BIT" property="sex"/>
        </association>
    </resultMap>

    <select id="getAllWaitingRegistration" resultMap="registrationWithPatient">
        select *,
               patient.id as patientId
        from registration,
             patient,
             job_schedule
        where registration.state = #{state}
          and registration.patient_id = patient.id
          and registration.doctor_id = #{doctorID}
          and registration.schedule_id = job_schedule.id
          and to_days(job_schedule.date) = TO_DAYS(#{time})
        order by registration.create_time ASC
    </select>


    <select id="getRegistrationByPatientName" resultMap="registrationWithPatient">
        select *,
               patient.id as patientId
        from registration,
             patient
        where state = 47
          and patient.id = registration.patient_id
          and patient.real_name = #{name}
          and registration.doctor_id = #{doctorID}
        order by registration.create_time ASC
    </select>

    <select id="getAllRegistrationWaitingByPatientId" resultType="cn.neuedu.his.model.Registration">
        select *
        from registration
        where patient_id = #{patientId}
          and (state = #{state1} or state = #{state2})
    </select>

    <select id="getAllByDoctor" resultType="INTEGER">
        select id from registration where 1=1 and state=#{state}
        <if test="start != null and start!='' ">
            and create_time <![CDATA[>=]]> #{start}
        </if>
        <if test="end !=null and end!=''">
            and create_time  <![CDATA[<=]]> #{end}
        </if>
    </select>

    <select id="getRegistrationInof" resultType="INTEGER">
        select count(*)
        from registration
        where doctor_id = #{doctorId}
          and TO_DATS(create_time) = TO_DATS(#{time})
    </select>

    <select id="getRegistrationState" resultType="java.lang.Integer">
        select state
        from registration
        where registrar_id = #{id}
    </select>

    <resultMap id="registrationAndType" type="cn.neuedu.his.model.Registration">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="need_book" jdbcType="BIT" property="needBook"/>
        <result column="patient_id" jdbcType="INTEGER" property="patientId"/>
        <result column="doctor_id" jdbcType="INTEGER" property="doctorId"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="schedule_id" jdbcType="INTEGER" property="scheduleId"/>
        <result column="registrar_id" jdbcType="INTEGER" property="registrarId"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="sequence" jdbcType="INTEGER" property="sequence"/>
        <result column="serial_number" jdbcType="INTEGER" property="serialNumber"/>
        <association property="registrationType" resultMap="cn.neuedu.his.mapper.RegistrationTypeMapper.BaseResultMap"/>
    </resultMap>

    <select id="getRegistrationAndType" resultMap="registrationAndType">
        select r.*, rt.*
        from registration r
                 join job_schedule j on r.schedule_id = j.id
                 join registration_type rt on j.registration_type_id = rt.id
        where r.id = #{id}
    </select>

    <resultMap id="simpleOne" type="cn.neuedu.his.model.Registration">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="patient_id" jdbcType="INTEGER" property="patientId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <association property="medicalFee" javaType="INTEGER" select="medicalFee" column="{registrationId=id,medicalTypeId=medicalTypeId}"/>
        <association property="inspectionFee" javaType="INTEGER" select="inspectionFee" column="{registrationId=id,inspectionTypeId=inspectionTypeId}"/>
    </resultMap>

    <select id="getPatient" resultMap="simpleOne">
        select r.id,r.patient_id,r.create_time, #{medicalTypeId}  as  medicalTypeId,#{inspectionTypeId} as inspectionTypeId
        from registration r
        where (r.state=803 or r.state=804 or r.state=805 or r.state=806)
        and r.doctor_id=#{doctorId}
        and r.create_time  <![CDATA[>=]]> #{start}
        and  r.create_time <![CDATA[<=]]> #{end}
        order by patient_id
    </select>

    <select id="getP" resultMap="cn.neuedu.his.mapper.PatientMapper.simpleOne">
        select   p.id,p.sex,p.identity_id,p.real_name
        from  patient p where p.id=#{id}
    </select>


    <resultMap id="getFee" type="cn.neuedu.his.model.Registration">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <association property="medicalFee" javaType="INTEGER" select="medicalFee" column="{registrationId=id,medicalTypeId=medicalTypeId}"/>
        <association property="inspectionFee" javaType="INTEGER" select="inspectionFee" column="{registrationId=id,inspectionTypeId=inspectionTypeId}"/>
    </resultMap>

    <select id="getFee" resultMap="getFee">
        select id,create_time ,#{medicalTypeId}  as  medicalTypeId,#{inspectionTypeId} as inspectionTypeId
        from  registration
        where  id=#{registrationId}
    </select>

    <select id="medicalFee" resultType="Integer">
        select sum(quantity*unit_price) from payment where  item_id in (
        select  id from prescription where
        prescription.item_id in (select  m.id from medical_record m where  m.registration_id= #{registrationId} )
        and  prescription.is_template=false
        ) and payment_type_id in (
            select  id from payment_type type where  type.type = #{medicalTypeId})
    </select>


    <select id="inspectionFee" resultType="Integer">
        select sum(quantity*unit_price) from payment where  item_id in (
        select  id from inspection_application i where
        i.item_id in (select  m.id from medical_record m where  m.registration_id= #{registrationId} )
        and  i.is_template=false
        ) and payment_type_id in (
            select  id from payment_type type where  type.type = #{inspectionTypeId})
    </select>

</mapper>