<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neuedu.his.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.neuedu.his.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_password_modify_time" jdbcType="TIMESTAMP" property="lastPasswordModifyTime" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="identify_id" jdbcType="VARCHAR" property="identifyId" />
  </resultMap>
  
  <resultMap id="UserAndDoctorInformation" type=""

  <select id="getUserByUsername" parameterType="String" resultMap="BaseResultMap">
    select * from user where username = #{username}
  </select>



</mapper>